* {
  box-sizing: border-box;
}

body{
  background-color: rgb(49, 1, 73);
}

.App {
 max-width: 54%;
 margin: 0 auto;
 padding: 20px;
 background: rgb(86, 6, 126);
 border-radius: 10 px;
 box-shadow: 0 4 8px rgba(0,0,0, 0.1);

}

.NoTask{
  color: rgb(251, 240, 255);

}

h1{
  color: rgb(252, 246, 255);
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  padding: 14px 34px;
  font-size: 16px;
  border: none;
  margin-left: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #f9faff ;
  background-color: rgb(166, 24, 209);
  font-family:Arial, Helvetica, sans-serif;
}

button:hover{
  background-color: rgb(241, 230, 252);
  color: rgb(112, 17, 160);
  
}

li button{
  background-color: red;
  margin-left: 2%;
  padding: 12px 24px;
  position: relative;
}

li button:hover{
  background-color: rosybrown;
  color: black;
}

li{
  margin-top: 16px;
  display: flex;
  align-items: center ;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #faf6ff;
  margin-bottom: 10px;
  box-shadow: 0 2 4px rgba(0,0,0, 0.1);
}

input[type="text"]{
  width: 84%;
  padding: 12px;
  margin-right: 12px;
  } 

.showTask:hover{
   background-color:  rgb(115, 6, 170);
   color:#f9faff;
   font-size: 19px;
  }


  @media only screen and (max-width:721px){

    .App{
      max-width: 70%;
    }

    button{
      padding: 10px 24px;
      font-size: 14px;      
      margin-top: 2%;
    }


    .showTask{
      font-size: 14px;
      max-height: 600px;
    }
    
    .showTask:hover{      
      font-size: 15px;
     }

    li button{
      margin-left: 2%;
      padding: 8px 16px;
      font-size: 14px;
    }
   
    
  }
